@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  list-style: none;
  scroll-behavior: smooth;
  transition: all;
  scrollbar-width: 0px;
}

/* hsl(210, 100%, 97%) light*/
/* hsl(210, 11%, 76%) dark*/
/* hsl(210, 7%, 36%)  light*/
/* hsl(207, 12%, 19%) dark */

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 210 11% 76%;
    --card: 210 100% 97%;
    --card-foreground: 210 11% 76%;
    --popover: 210 100% 97%;
    --popover-foreground: 210 11% 76%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 207 12% 19%;
    --foreground: 210 7% 36%;
    --card: 207 12% 19%;
    --card-foreground: 210 7% 36%;
    --popover: 207 12% 19%;
    --popover-foreground: 210 7% 36%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 7% 36%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 7% 36%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 7% 36%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}